<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <p><%= __('recent_posts') %></p>
    <div>
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a class="recent-list-item" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>