@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

// global-reset()

html, body, #container
  height: 100%

body
  background: color-background
  -webkit-text-size-adjust: 100%
aside
  color: rgba(255,255,255,0.5)
  margin-top: 12px!important
h1
  font-size: 2.92rem
  line-height: 110%
  margin: 1.46rem 0 1.168rem 0
h2
  font-size: 2.28rem
  line-height: 110%
  margin: 1.14rem 0 .912rem 0
h3
  font-size: 1.64rem
  line-height: 110%
  margin: .82rem 0 .656rem 0  
h4
  font-size: 1rem
  line-height: 110%
  margin: .5rem 0 .4rem 0 
nav
  background: color-navbar-background
  color: color-navbar-text
  padding-left: 16px
  padding-right: 16px
footer.page-footer
  background: color-footer-background
  color: color-footer-text
.brand-logo
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width 60%
  
@import "_extend"
// @import "_partial/header"
@import "_partial/article"
// @import "_partial/comment"
@import "_partial/archive"
// @import "_partial/footer"
@import "_partial/highlight"
// @import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"