<footer class="page-footer black">
<br>
<br>
<br>
<br>
  <div class="footer-copyright">
    <div class="container">
     &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
     <span class="right"><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></span> 
    </div>
  </div>
</footer>